*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #fff;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#490d98, #030ba5);
}

main{
    background-color: #224373;
    border-radius: 20px;
    padding: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 85%;
    gap: 25px;
}

main p{
    font-size: 20px;
}

main h1{
    position: relative; 
    top: 0;
    right: 0;  
}

main a{
    text-decoration: none;
    color: #fff;
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form div{
    margin-top: 20px;
}

form div input{
    margin-top: 10px;
}

input{
    height: 40px;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
}

input::placeholder{
    color: #000;
}

input:focus{
    outline: none;
    
}


button{
    height: 55px;
    font-size: 21px;
    border-radius: 5px;
    border: none;
    background-color: #490d98;
}

button:hover{
    cursor: pointer;  
}

@media (max-width: 768px){
    main{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        overflow: hidden;
    }

    input{
        font-size: 22px;
    }
}